<p id="notice"><%= notice %></p>

<p>
  <b>Username:</b>
  <%= @avatar.username %>
</p>

<p>
  <b>Description:</b>
  <%= @avatar.description %>
</p>


<%= link_to 'Edit', edit_avatar_path(@avatar) %> |
<%= link_to 'Back', avatars_path %>
